/* NOTE:
    HVIS NOGET IKKE GIVER MENING ER DET IKKE MIN SKYLD :)
*/

/* Font */

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Base styles for body */
body {
  margin: 0;
  padding: 0;
  height: calc(100vh - 1rem);
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'JetBrains Mono', monospace;
}

p {
  font-family: 'JetBrains Mono', monospace;
}

/* Image container with responsive text */
.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.side-image {
  width: 20vw;
}

.side-image-alt {
  width: 13vw;
}

/* Responsive background image */
.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  z-index: -1;
}

/* Text styles for game info */
.gameText,
.firstgameText {
  color: #000000;
  text-align: center;
}

.gameText {
  font-size: 2vw;
  margin: 10px;
}

.firstgameText {
  font-size: 1.5vw;
  text-align: center;
}

/* Countdown container and text */
.countdown-container {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.side-countdown {
  font-size: clamp(16px, 4vw, 32px);
  color: #245ca8;
  text-align: center;
  margin-top: 10px;
}

.main-countdown {
  font-size: clamp(
    16px,
    4vw,
    32px
  ); /* Sets min size to 16px, max size to 32px */
  color: #b10000;
  text-align: center;
  margin-top: 10px;
}

/* Tournaments */

.main-tournament {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 5.6vw;
  top: 18vh;
  width: 34.1vw;
  height: 52vh;
}
.side-tournament {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  left: 50vw;
  top: 16vh;
  gap: 3vw;
  width: 40.6vw;
  height: 38vh;
  box-sizing: border-box;
}

.tournament-list-item {
  text-align: center;
  flex: 0 1 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  white-space: nowrap;
}

/* Minecraft event card */

.minecraft-event {
  position: absolute;
  left: 11vw;
  top: 81.5vh;
}

.minecraft-event-detail,
.minecraft-event-title,
.minecraft-event-theme,
.minecraft-event-ip,
.main-tournament-countdown {
  color: white;
}

.minecraft-event-title {
  font-size: 1vw;
}

/* Bod */

.bod-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 76vw;
  color: #ffffff;
  top: 83vh;
}

.bod-opener-text {
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
}

.bod-countdown {
  font-size: 2vw;
  margin: 0;
}

/*
   @@                                                                                                                                                                    @                             
  @@@@                                                                                                                                                                  @@@                            
  @[@@@                                                                                                                                                                @(@$@                           
  @[@[#@                                                                                                                                                              @[0X}@                           
 @#[@}[{@                                                                                                                                                           @@[[@}[@                           
 @{[*t[[[@@                                                                                                                                                        @c[[[@[[@                           
 @[[1M[[[[(@                                                                                                                                                     @@[[[[[@[[b@                          
 @[[[@[[[[[[@@                                                                                                                                                  @1[[[[[}@[[}@                          
 @[[[@[[[[[[[[@                                                                                                                                               @@[[[[[[[YQ[[[@                          
@*[[[@{[[[[[[[[z@                                                                         @@@@@                                                              @[[[[[[[[[@}[[[@                          
@([[[)@[[[[[[[[[[@@                                                             @@@@0{[[[[[[[[[[[[}C@@@                                                    @([[[[[[[[[[@[[[[@                          
@}[[[[@[[[[[[[[[[[[@                                                       @@W[[[[[[[[[[[[[[[[[[[[[[[[[[t@@                                              @$[[[[[[[[[[[{W[[[[@                          
@[[[[[@}[[[[[[[[[[[[r@                                                  @@[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[(@@                                         @@[[[[[[[[[[[[[@}[[[[$@                         
@[[[[[}@[[[[[[[[[[[[[[@@                                             @@}[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@                                       @/[[[[[[[[[[[[[[@[[[[[B@                         
@[[[[[[@[[[[[[[[[[[[[[[[@                                          @@[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[x@                                   @@[[[[[[[[[[[[[[[kx[[[[[@                          
@}[[[[[(W[[[[[[[[[[[[[[[[@                                       @@[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@                                 @m[[[[[[[[[[[[[[[[@[[[[[[@                          
@x[[[[[[@[[[[[[[[[[[[[[[[@                                      @f[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@                                @@[[[[[[[[[[[[[[[#v[[[[[[@                          
@*[[[[[[}@[[[[[[[[[[[[[[@                                      @[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@                                @}[[[[[[[[[[[[[[@[[[[[[[@                          
 @[[[[[[[$t[[[[[[[[[[[[[@                                    @@[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@                                @[[[[[[[[[[[[[@[[[[[[[[@                          
 @[[[[[[[[@[[[[[[[[[[[[}@                                   @Z[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[)@                               @[[[[[[[[[[[[Mv[[[[[[[[@                          
 @[[[[[[[[[@[[[[[[[[[[[n@                                  @z[[[[[[[[[[[[[[k@@@@@@@@@@{[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@                               @[[[[[[[[[[[Q#[[[[[[[[}@                          
 @[[[[[[[[[[@[[[[[[[[[[h@ @@@@@@@@                        @@[[[[[[[[[[[B@@             @@[[[[[[[[[[[[[[[[[[[[[[[[[[[[J@                     @@@@@@@  @[[[[[[[[[[*M[[[[[[[[[x@                          
 @[[[[[[[[[[[@X[[[[[[[[h@[[[[[[[[[$@                      @[[[[[[[[[@@                   @W[[[[[[[[[[[[[[[[[[[[[[[[[[}@                   @1[[[[[[[[0@[[[[[[[[[@([[[[[[[[[[*@                          
 @}[[[[[[[[[[[C@([[[[[[[[[[[[[[[[[[[X@                   @C[[[[[[[@@                       @[[[[[[[[[[[[[[[[[[[[[[[[[[@                @@<<[[[[[[[[[[[[[[[[[[$@[[[[[[[[[[[[@                           
 @J[[[[[[[[[[[[@j@@[[[[[[[[[[[]~<<<<<<)@                 @[[[[[}@                           @[[[[[[[[[[[[[[[[[[[[[[[[[@              @@<<<<<<<[[[[[[[[[[[[t@zr@[[[[[[[[[[[[@                           
  @[[[[[[[[[[[[@jjjr@c[[[-<<<<<<<<<<<<<<c@               @[[[{@                              @[[[[[[[[[[[[[[[[[[[[[[[[@             @<<<<<<<<<<<<<[[[[[[@@jjj@}[[[[[[[[[[[[@                           
  @[[[[[[[[[[[[|#jjjjj@@<<<<<<<<<<<<<<<<<<$@            @f[[@                                @Z[[[[[[[[[[[[[[[[[[[[[[}@           @_<<<<<<<<<<<<<<<<<[@Xjjjjj@[[[[[[[[[[[[1@                           
  @@)[[[[[[[[[[[@jjjjjjjM@<<<<<<<<<<<<<<<<<<@           @[@@                                  @[[[[[[[[[[[[[[[[[[[[[[/@         @B<<<<<<<<<<<<<<<<<+@rjjjjjjr@[[[[[[[[[[[@@                            
     @@1[[[[[[[~@jjjjjjjjj#@<<<<<<<<<<<<<<<<<o@         @@                            @~@     @}[[[[[[[[[[[[[[[[[[[[[W@        @~<<<<<<<<<<<<<<<<~@jjjjjjjjj@1[[[[[[[[W@                               
     @@}[[[[[<<<}$jjjjjjjjjj@$<<<<<<<<<<<<<<<<~@        @                            @J;;@    @c[[[[[[[[[[[[[[[[[[[[[@       @@<<<<<<<<<<<<<<<<<@xjjjjjjjjjj@[[[[[[[[[b@                               
    @[[[[[<<<<<<<@jjjjjjjjjjjj@[<<<<<<<<<<<<<<<<@                                   @n;;;;@   @m[[[[[[[[[[[[[[[[[[[[[@      @*<<<<<<<<<<<<<<<<@hjjjjjjjjjjj@t<<[[[[[[[[[b@                             
   @j[[-<<<<<<<<<~@jjjjjjjjjjjjn@<<<<<<<<<<<<<<<<@                                 @~;;;;;;@  @C[[[[[[[[[[[[[[[[[[[[d@     @J<<<<<<<<<<<<<<<}@jjjjjjjjjjjjj@<<<<_[[[[[[[[@                             
    @]<<<<<<<<<<<<@jjjjjjjjjjjjjj@x<<<<<<<<<<<<<<<@                               @;;;;;;;;;@ @|[[[[[[[[[[[[[[[[[[[[@     @w;;<<<<<<<<<<<<<@vjjjjjjjjjjjjj@+<<<<<i[[[[[[[@                             
    @<<<<<<<<<<<<<~@jjjjjjjjjjjjjjx@<<<<<<<<<<<<<<<@                             @;;;;;;;;;;>@@}[[[[[[[[[[[[[[[[[[[|@     @;;;;;;I<<<<<<<+@jjjjjjjjjjjjjjj@<<<<<<<<[[[[[#@                        @@@@@
    @M<<<<<<<<<<<<<@rjjjjjjjjjjjjjjj@~<<<<<<<<<<<<;]@        @IY@@              @;;;;;;;;;;;;[$[[[[[[[[[[[[[[[[[[[[@     @;;;;;;;;;l<<<<Bojjjjjjjjjjjjjjj@~<<<<<<<<<[[[[@                  @@@@B@C[[W@ 
     @<<<<<<<<<<<<<<@jjjjjjjjjjjjjjjj@Y<<<<<<l;;;;;;@         @;;;;@@         @@;;;;;;;;;;;;i@[[[[[[[[[[[[[[[[[[[[O@    @>;;;;;;;;;;;><@rjjjjjjjjjjjjjjjj@<<<<<<<<<<<<[C@            @@@@)[{@@}[[[}@   
     @k<<<<<<<<<<<<<#YjjjjjjjjjjjjjjjjO@;;;;;;;;;;;;;@        @;;;;;;I@      @w;;;;;;;;;;;;<@[[[[[[[[[[[[[[[[[[[[[@     @;;;;;;;;;;;;;@jjjjjjjjjjjjjjjjj@<<<<<<<<<<<<<<@        @@@p[[[[z@d[[[[[[@@    
      @<<<<<<<<<<<<<<@jjjjjjjjjjjjjjjjjn@;;;;;;;;;;;;@        @;;;;;;;;I@   @<;;;;;;;;;;;;t$[[[[[[[[[[[[[[[[[[[[[@     @;;;;;;;;;;;;;@jjjjjjjjjjjjjjjjjJM<<<<<<<<<<<<<f@    @@k[[[[[[h@|[[[[[[[J@      
      @d<<<<<<<<<<<<<}$jjjjjjjjjjjjjjjjjj@;;;;;;;;;;;;@       @;;;;;;;;;;@ @I;;;;;;;;;;;;ak[[[[[[[[[[[[[[[[[[[[[@      @;;;;;;;;;;;I@jjjjjjjjjjjjjjjjjj@<<<<<<<<<<<<<<@ @@|[[[[[[[o@)[[[[[[[[[@        
       @<<<<<<<<<<<<<<@rjjjjjjjjjjjjjjjjjj@;;;;;;;;;;;@       @;;;;;;;;;;;@;;;;;;;;;;;;;@f[[[[[[[[[[[[[[[[[[[[/@@     @i;;;;;;;;;;;@jjjjjjjjjjjjjjjjjj@_<<<<<<<<<<<<<0$[[[[[[[[Q@([[[[[[[[[[a@         
       @k<<<<<<<<<<<<<<@jjjjjjjjjjjjjjjjjjj@;;;;;;;;;;<@      @;;;;;;;;;;@;;;;;;;;;;;;;@}[[[[[[[[[[[[[[[[[[[[@;;@     @;;;;;;;;;;;@jjjjjjjjjjjjjjjjjjn$<<<<<<<<<<<<<<@[[[[[[{@Z[[[[[[[[[[[[@           
        @<<<<<<<<<<<<<<_@jjjjjjjjjjjjjjjjjjx@;;;;;;;;;;@      @;;;;;;;;;dt;;;;;;;;;;;;@[[[[[[[[[[[[[[[[[[[[@-;;;o@   @B;;;;;;;;;;@jjjjjjjjjjjjjjjjjjj@<<<<<<<<<<~<<<JO[[[[@@[[[[[[[[[[[[[c@            
        @@<<<<<<<<<<<<>;hmjjjjjjjjjjjjjjjjjjma;;;;;;;;;@      @;;;;;;;;;@;;;;;;;;;;;I@[[[[[[[[[[[[[[[[[[}@+;;;;;;@   @;;;;;;;;;;@jjjjjjjjjjjjjjjjjjj@<<<<<<<<<<<<<<<@[[(@([[[[[[[[[[[[[[@@             
         @<<<<<<<~<<<;;;;@njjjjjjjjjjjjjjjjjj@!;;;;;;;;<@     @;;;;;;;;@;;;;;;;;;;;x@[[[[[[[[[[[[[[[[[{@I;;;;;;;;d@  @;;;;;;;;;@jjjjjjjjjjjjjjjjjjj@+<<<<<<<<<<<<<<W/B@[[[[[[[[[[[[[[[[@               
          @Q@@@@@@<<;;;;;;@Cjjjjjjjjjjjjjjjjjj@;;;;;;;;;@    @>;;;;;;;;@;;;;;;;;;;@Y[[[[[[[[[[[[[[[[@@;;;;;;;;;;;;@  @;;;;;;;;wpjjjjjjjjjjjjjjjjjj@~<<<<<<<~@)@@@od@#[[[[[[[[[[[[[[[[[@                
               @-<<;;;;;;;;[@jjjjjjjjjjjjjjjjjj@;;;;;;;;@    @;;;;;;;;k+;;;;;;;;;@}[[[[[[[[[[[[[[[h@;@;;;;;;;;;;;;;@@[;;;;;;;;@jjjjjjjjjjjjjjjjjx@;;;<<<<<<<<$B[[@Y[[[[[[[[[[[[[[[[[[@                 
             @@@@WaWw;;;;;;;;o@jjjjjjjjjjjjjjjjhn;;;;;;;#   @;;;;;;;;;@;;;;;;;;;@[[[[[[[[[[[[[[[#@;;;@;;;;;;;;;;;;;;@;;;;;;;;@jjjjjjjjjjjjjjjjx@;;;;;;<<<@**$@@@n[[[[[[[[[[[[[[[[[[[@                  
                   @;;;;;;;;;;;t@jjjjjjjjjjjjjjj@;;;;;;;~@@#;;;;;;;;;;@;;;;;;;;@[[[[[[[[[[[[[[X@;;;;;@;;;;;;;;;;;;;;@;;;;;;;wwjjjjjjjjjjjjjj*@;;;;;;;;;><-@[[@Z[[[[[[[[[[[[[[[[[[[[@                   
                  @;;;;;;;;;;;;;;;@@jjjjjjjjjjjjr@;;;;;;;@;;;;;;;;;;;;@;;;;;;;@[[[[[[[[[[[[[[@;;;;;;;a>;;;;;;;;;;;;;@;;;;;;;@jjjjjjjjjjjjn@J;;;;;;;;;;;;l<~@$[[[[[[[[[[[[[[[[[[[[[@                    
                 @@h;;;;;;;;;;;;;;;;;@@jjjjjjjjjj@;;;;;;;@;;;;;;;;;;;;@;;;;;;;@[[[[[[[[[[[[oM;;;;;;;;b];;;;;;;;;;;;iB;;;;;;$xjjjjjjjjjv@a;;;;;;;;;;;;;;;;l@@[[[[[[[[[[[[[[[[[[[[[@                     
                     @@;;;;;;;;;;;;;;;;;@@Cjjjjjjr@;;;;;;@;;;;;;;;;;;;$;;;;;;j0[[[[[[[[[[[@i;;;;;;;;;*I;;;;;;;;;;;;Z);;;;;;@jjjjjjj$@1;;;;;;;;;;;;;;;;<@M[[[[[[[[[[[[[[[[[[[[[[[@@                     
                        @@;;;;;;;;;;;;;;;;;;B@@djj@;;;;;;@;;;;;;;;;;;;<$;;;;;at[[[[[[[[[[@I;;;;;;;;;;@;;;;;;;;;;;;;$;;;;;;bJjr@@@j;;;;;;;;;;;;;;;;;+@m[[[[[[[[[[[[[[[[[[[[[[[[[v@                      
                           @@;;;;;;;;;;;;;;;;;;;;@ZC;;;;;@I;;;;;;;;;;;;@;;;;;Zj[[[[[[[[[$);;;;;;;;;;;@;;;;;;;;;;;;;@;;;;;;@@@;;;;;;;;;;;;;;;;;;;i@w[[[[[[[[[[[[[[[[[[[[[[[[[[[}@                       
                              @#;;;;;;;;;;;;;;;;;;O@;;;;;a[;;;;;;;;;;;;h|;;;;+k[[[[[[[[}@;;;;;;;;;;;;@;;;;;;;;;;;;;@;;;;;;@;;;;;;;;;;;;;;;;;;;@M[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@                        
                                @@~;;;;;;;;;;;;;;;;@;;;;;Y);;;;;;;;;;;;;@;;;;;@[[[[[[[[@;;;;;;;;;;;;b};;;;;;;;;;;;;@;;;;;zj;;;;;;;;;;;;;;;;@@[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@                         
                                   @@;;;;;;;;;;;;;;@;;;;;Q);;;;;;;;;;;;;_$;;;;@[[[[[[[[@;;;;;;;;;;;;@;;;;;;;;;;;;;;@;;;;;@;;;;;;;;;;;;;;>@([[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[r@                         
                                     @@!;;;;;;;;;;;M;;;;;;;;;;;;;;;;;;;;;@l;;;th[[[[[[td;;;;;;;;;;;@;;;;;;;;;;;;;;;;;;;;;@;;;;;;;;;;;;W@[[[[[[[[[[[@[[[[[[[[[[[[[[[[[[[[[[[[@                          
                                        @Y;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@}[[[[[*~;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@*[[[[[[[[[[[[@[[[[[[[[[[[[[[[[[[[[[[[[@                           
                                          @w;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@f[[[[@I;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@X[[[[[[[[[[[[[@}[[[[[[[[[[[[[[[[[[[[[[[(@                           
                                            @[;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;x@[[[@l;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@p[[[[[[[[[[[[[[a0[[[[[[[[[[[[[[[[[[[[[[[[@                            
                                              @;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@{[k+;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;f@[[[[[[[[[[[[[[[}@[[[[[[[[[[[[[[[[[[[[[[[[Q@                            
                                               @};;+l;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;i@/k;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;_l;;@@[[[[[[[[[[[[[[[[@[[[[[[[[[[[[[[[[[[[[[[[[[@                             
                                             @@@+;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;k@@}[[[[[[[[[[[[[Mj[[[[[[[[[[[[[[[[[[[[[[[[X@                             
                                          @@l;;;;;;;;;;;;;;;;;;X@@J;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;i*@W+;;;;;;;;;;;;;;;;;;w@)[[[[[[[[[[@[[[[[[[[[[[[[[[[[[[[[[[[[@                              
                                        @Y;;;;;;;;;;;;;;;;;;@Wjjj(((d@;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;X@|((jjjr@w;;;;;;;;;;;;;;;;;;@{[[[[[[[@[[[[[[[[[[[[[[[[[[[[[[[[[}@                              
                                               @@@;;;;;;;;@hjjjjt(((../@;;;;@;;;;;;;;;;;;;;;;;;;l#;;;;@..1((jjjjjj@!;;;;;;;w@#}[[)@[[[[[[[[[}@[[[[[[[[[[[[[[[[[[[[[[[[[@@                              
                                                   @;;;;;M@jjjjjt((.....@;;;;@;;;;;;;;;;;;;;;;;;@;;;~@....)(tjjjjjc$;;;;;h@[[[[[[[[0@[[[[[[[@[[[[[[[[[[[[[[[[[[[[[[[[[[@                               
                                                    @);;;;@jjjjjt((......@;;;$<;;;;;;;;;;;;;;;;@;;;I@.....1(tjjjjjnW;;;;@{[[[[[[[[[[[@0[[[[[@[[[[[[[[[[[[[[[[[[[[[[[[[[@                               
                                                     @<;;;@jjjjj/((.....-x$;;;;;;;;;;;;;;;;;;;;;;;;@......((jjjjjjmn;;;@}[[[[[[[[[[[[[}@[[[fb[[[[[[[[[[[[[[[[[[[[[[[[[}@                               
                                                      @;;;@rjjjjj(('....((@;;;;;;;;;;;;;;;;;;;;;;;$|(....(((jjjjjj@;;;kC[[[[[[[[[[[[[[[[*@[rp[[[[[[[[[[[[[[[[[[[[[[[[[j@                               
                                                       @;;I@jjjjjj((((((((j@;;;;;;;;;;;;;;;;;;;;;;@((((((((jjjjjjj@;;;@[[[[[[[[[[[[[[[[[[[@}[[[[[[[[[[[[[[[[[[[[[[[[[[X@                               
                                                       @I;;p$jjjjjjjf((|jjj@;;;;;;;;;;;;;;;;;;;;;#cjj((((fjjjjjjj@;;;@}[[[[[[[[[[[[[[[[[[[[m@[[[[[[[[[[[[[[[[[[[[[[[[[x@                               
                                                        @;;;;@rjjjjjjjjjjjjhc;;;;;;;;;;;;;;;;;;;;@jjjjjjjjjjjjj@$;;;;@[[[[[[[[[[[[[[[[[[[[[[[@}[[[[[[[[[[[[[[[[[[[[[[[}@                               
                                                        @;;;;;;@*jjjjjjjjC@~@;;;;;;;;;;;;;;;;;;;;@@@jjjjjjjjj@B;;;;;@}[[[[[[[[[[[[[[[[[[[[[[[[MM[[[[[[[[[[[[[[[[[[[[[[[@                               
                                                         @;;;;;;;;b@@@M};;;;;;;;;;;;;;;;;;;;;;;;;;;;;;Q@@@@);;;;;;;<@[[[[[[[[[[[[[[[[[[[[[[[[[[}@[[[[[[[[[[[[[[[[[[[[[[@                               
                                                          @t;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@J[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@1[[[[[[[[[[[[[[[[[[[[/@                              
                                                            @[;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@@@[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[##[[[[[[[[[[[[[[[[[[[[@                              
                                                              @d;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@@   @[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[/@[[[[[[[[[[[[[[[[[[[}@                             
                                                                @@;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;{@       @[@#Y[[[[[[[[[[[[[[[[[[[[[[[[[[[/@[[[[[[[[[[[[[[[[[[[J@                            
                                                                   @#;;;;;;;;;;;;;;@bXYk@;;;;;;;;;;;;;;;;@@         @@[@}[[[[[[[[[[[[[[[[[[[[[[[[[[[[XW[[[[[[[[[[[[[[[[[[[W@                           
                                                                     @@@;;;;;;;;;;;;i@@@;;;;;;;;;;;;;!@@          @M[[[@[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[$x[[[[[[[[[[[[[[[[[[[W@                          
                                                                     @{{{W@k;;;;;;;;;;;;;;;;;;;;;l@@r{{)@@@@@@@@v[[[[[@@c[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@}[[[[[[x@[[[[[[[[[[[C@                         
                                                                    @{{{{{{{{f@@@QI;;;;;;;;-#@@*1{{{{{{{[$[[[[[[[[[[[t@ @@[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[@[[[[f@[[[[[[[[[[[[[[}@                        
                                                                   @;}{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{l;;@([[[[[[[[[}@    @[[[[[[[[[[[[[[[[[[[[[[[[[[[[[}@[[@}[[[[[[[[[[[[[[[[[@@                      
                                                                  @m;;;i{{{{{{{{{{{{{{{{{{{{{{{{{{{{;;;;;;@[[[[[[[[n@      @W[[[[[[[[[[[[[[[[[[[[[[[[[[[[W@w[[[[[[[[[[[[[[[[[[[[1@                     
                                                                  @;;;;;;;;!{{{{{{{{{{{{{{{{{{{{{I;;;;;;;;I@[[[[[[@@         @@@@@@@@@@@@Bwj}[[[[[[[[[[[[[@[[[[[[[[[[[[[[[[[[[[[[[B@                   
                                                                 @;;;;;;;;;;;;;;>{{{{{{{{{{{};;;;;;;;;;;;;;$@oB@@                           @X[[[[[[[[[[[[}@[[[[[[[[[[[[[[[[[[[[[[[[@@                 
                                                                @$;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@                             @@[[[[[[[[[[[[[[[@[[[[[[[[[[[[[[[[[[[[[[[[[[@                
                                                                @;;;;;;;;;;;k@@;;;;;;;;;;;;;;;;;;;;;;;;;;;;;)@                           @M[[[[[[[[[[[[[[[[@}[[[[[[[[[[[[[[[[[[[[[[[[[[}@              
                                                               @n;;;;;;;;;;;;@[[|W@@@@o/[[[[;;;;;;;;;;;;;;;;;@                          @*[[[[[[[[[[[[[[[[[#t[[[[[[[[[[[[[[[[[[[[[[[[[[[[@             
                                                               @;;;;;;;;;;;;;nd[[[[[[[[[[[[[[;;;;;;;;;;;;;;;;>@                         @[[[[[[[[[[[[[[[[[[XQ[[[[[[[[[[[[[[[[[[[[[[[[[$@@              
                                                              @1;;;;;;;;;;;;;;Bc{[[[[[[[[[[[[;;;;;;;;;;;;;;;;;@                          @[[[[[[[[[[[[[[[[[(o[[[[[[[[[[[[[[[[[[[[[[[@@                 
                                                              @;;;;;;;;;;;;;;;;1@xx1[[[[[[[[[;;;;;;;;;;;;;;;;;!@                         @Y[[[[[[[[[[[[[[[[}W[[[[[[[[[[[[[[[[[[[[[[@                   
                                                             @c;;;;;;;;;;;;;;;;;;o@xxxr[[[[];;;;;;;;;;;;;;;;;;;@                          @@@@@@@Wf[[[[[[[[}$[[[[[[[[[[[[[[[[[[[[[1@                   
                                                             @;;;;;;;;;;;;;;;;;;;;;;i@@@@+[[[i;;;;;;;;;;;;;;;;;r@                                 @$[[[[[[[}$[[[[[[[[[[[[[[[[[[[[[r@                   
                                                             @;;;;0O@@I;;;;;;;;;;;;;;;~@[[[[[[[[[;;;;;;;;;;;;;;;@                              @B[[[[[[[[[[{*[[[[[[[[[[[[[[[[[[[[[|@                   
                                                            @;;;;;;@[[[{@@MI;;;;;;;;@@[[[[[[[[[[[[<;;;;;;;;;;;;;@                            @1[[[[[[[[[[[[or[[[[[[[[[[[[[[[[[[[[[1@                   
                                                            @;;;;;;~@[[[[[[[[1O$@M/[[[[[[[[[[[[[[[[;;;;;;;;;;;;;z@                           @[[[[[[[[[[[[[@[[[[[[[[[[[[[[[[[[[}}[[@                   
                                                            @;;;;;;;Bz[[[[[[[[[[[[[[[[[[[[[[[[[[[[[;;;;;;;;;;;;;[@                           @}[[[[[[[[[[[(@[[[[[[[[[[[[[[[[[[}@                       
                                                            @;;;;;;;;@t[[[[[[[[[[[[[[[[[[[[[[[[[[[[;;;;;;;;;;;;;]@                            @@+-[[[[[[[[@[[[[[[[[[[[[[[[[[[[@                        
                                                            @;;;;;;;;;#k[[[[[[[[[[[[[[[[[[[[[[[[[[[;;;;;;;;;;;;;)@                            @@J<<<<<<<<[B<<~+[[[[[[[[[[[[[@@                         
                                                            @;;;;;;;;;;l@[[[[[[[[[[[[[[[[[[[[[[[[[+;;;;;;;;;;;;;Z@                         @$<<<<<<<<<<<<@<<<<<<<<<<<<<+(@@                            
                                                            @;;;;;;;;;;;;@B[[[[[[[[[[[[[[[[o@[[[[[;;;;;;;;;;;;;;W                          @<<<<<<<<<<<<)*<<<<<<<<<<<o@@                               
                                                            @I;;;;;;;;;;;;;@@nxj}[[[[[[[C@v[[[[[@w;;;;;;;;;;;;;;@                         @<<<<<<<<<<<<<@<<<<<<<<<<<<<_@                               
                                                            @Z;;;;;;;;;;;;;;;I@@@@@@@@h[[[[[[[@$;;;;;;;;;;;;;;;;@                        @<<<<<<<<<<<<<OY<<<<<<<<<<<<<<<~@                             
                                                             @;;;;;;;;;;;;;;;;;;;!@@@@kJzm@@@;;;;;;;;;;;;;;;;;;;@                       @<<<<<<<<<<<<<<@<<<<<<<<<<<<<<<<<<<@@                          
                                                             @;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;>@                      @<<<<<~<<<<<<]@W<<<<<<<<<<<<<<<<<<<<<<@@                        
                                                             @;;;;;;;;;;;;;;;;;;;;@;;;;;;;;@;;;;;;;;;;;;;;;;;;;@@                     @~<<<<<<<<<r@z<<<<<<<<<<<<<<<<<<<<<<<<<<<@@                      
                                                            @@_;;;;;;;;;;;;;;;;;;;@;;;;;;;-o;;;;;;;;;;;;;;;;;;;@@                   @#<<<<<<<<t@x<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<@@                      
                                                          @@;I@;;;;;;;;;;;;;;;;;;;@;;;;;;;BI;;;;;;;;;;;;;;;;;;;@;Y@              @@<<<<<<<<~@d<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<#@                       
                                                        @@;;;;@;;;;;;;;;;;;;;;;;;;#+;;;;;;@;;;;;;;;;;;;;;;;;;;;$;;;)@      @@@*;;;;;;;;;<@@<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<J@                        
                                                       @[;;;;;@;;;;;;;;;;;;;;;;;;;~k;;;;;;@;;;;;;;;;;;;;;;;;;;o];;;;;@@  @p;;;;;;;;;;;;@(;;;;;;;l<<<<<<<<<<<<<<<<<<<<<<<<<<<t@                         
                                                      @);;;;;;o~;;;;;;;;;;;;;;;;;;;@;;;;;;@;;;;;;;;;;;;;;;;;;;@;;;;;;;@ @f;;;;;;;;;;;@l;;;;;;;;;;;;;;l<<<<<<<<<<<<<<<<<<<<<(@                          
                                                      @;;;;;;;;$;;;;;;;;;;;;;;;;;;;@;;;;;;@;;;;;;;;;;;;;;;;;;;@;;;;;;;;@$;;;;;;;;;;@z;;;;;;;;;;;;;;;;;;;;<<<<<<<<<<<<<<<<<|@                           
                                                     @;;;;;;;;;@;;;;;;;;;;;;;;;;;;;@;;;;;-d;;;;;;;;;;;;;;;;;;!@;;;;;;;;@_;;;;;;;;;@;;;;;;;;;;;;;;;;;;;;;;;;!<<<<<<<<<<<<<Y@                            
                                                     @;;;;;;;;;@;;;;;;;;;;;;;;;;;;;@;;;;;w_;;;;;;;;;;;;;;;;;;Wl;;;;;;;;;@;;;;;;;Wb;;;;;;;;;;-@@         @@@@@@@@@$kf_~<<@@                             
                                                    @;;;;;;;;;;xz;;;;;;;;;;;;;;;;;;@;;;;;@;;;;;;;;;;;;;;;;;;;@;;;;;;;;;;B!;;;;;@;;;;;;;;;;;@@                                                          
                                                    @;;;;;;;;;;;@;;;;;;;;;;;;;;;;;;b+;;;;@;;;;;;;;;;;;;;;;;;;@;;;;;;;;;;;@;;;[@;;;;;;;;;;;@                                                            
                                                   @Q;;;;;;;;;;;@;;;;;;;;;;;;;;;;;;]Z;;;;@;;;;;;;;;;;;;;;;;;Jf;;;;;;;;;;;@;;@j;;;;;;;;;;;@                                                             
                                                   @{;;;;;;;;;;;b_;;;;;;;;;;;;;;;;;;@;;;;@;;;;;;;;;;;;;;;;;;@;;;;;;;;;;;;BI@;;;;;;;;;;;;@                                                              
                                                   @{l;;;;;;;;;;;@;;;;;;;;;;;;;;;;;;@;;;;@;;;;;;;;;;;;;;;;;;@;;;;;;;;;;;;1@;;;;;;;;;;r@@                                                               
                                                   @{{;;;;;;;;;;;@;;;;;;;;;;;;;;;;;;@{{{jO;;;;;;;;;;;;;;;;;Z/;;;;;;;;;;;;>$@@@@@@@                                                                     
                                                   @{{{;;;;;;;;;;Xz;;;;;;;;;;;;;;;;;@1{{@;;;;;;;;;;;;;;;;;;@;;;;;;;;;;;;<1@                                                                            
                                                   @{{{{{;;M@Wi;;;@;;;;;;;;;;;;;;;;;}a{{@;;;;;;;;;;;;;;;;;l@;;;j@@;;;;;{{c@                                                                            
                                                   @{{{{{{{;@X[[[[@+;;;;@@;;;;;;;;;;l@{{@;;;;;;;;;;>@f;;;;@[[[[[@I;;~{{{{W@                                                                            
                                                   @1{{{{{{{{/@[[[[@O@M[[[;;;;;;;;;;;@{{@;;;;;;;;;;[[[{@@-B[[[f@I{{{{{{{{@                                                                             
                                                   @o{{{{{{{{{{Q@@O[[[[[[[[;;;;;;;;;;@{{@;;;;;;;;;;[[[[[[[}@@@({{{{{{{{{{@                                                                             
                                                    @{{{{{{@r[[[[[[[[[[[[[[;;;;;;;;;;@{{@;;;;;;;;;;[[[[[[[[[[[[[}@B{{{{{1@                                                                             
                                                    @{{{{{{{{1@@@k(}}}|W@@;;;;;;;;;;;@{{@;;;;;;;;;;{@@Q{}}{n@@@b{{{{{{{{h@                                                                             
                                                    @d{{{{{{{{{{{{{{$!;;;;;;;;;;;;;;;@{{@;;;;;;;;;;;;;;;@{{{{{{{{{{{{{{{@                                                                              
                                                     @{{{{{{{{{{{{{{Qj;;;;;;;;;;;;;;I@{{@;;;;;;;;;;;;;;;@{{{{{{{{{{{{{{n@                                                                              
                                                     @@{{{{{{{{{{{{{vO;;;;;;;;;;;;;;1@{{@;;;;;;;;;;;;;;;@{{{{{{{{{{{{{{@                                                                               
                                                      @Z{{{{{{{{{{{{z0;;;;;;;;;;;;;;1@1{@;;;;;;;;;;;;;;;@{{{{{{{{{{{{{@                                                                                
                                            @@Mcj0B@@@[*o{{{{{{{{{{{pJjjjjjj|_!;!jjjx@  @jjjjj{I;;I;!jjj@{{{{{{{{{{{{@xY@@@hcj0@@@                                                                     
                                           @@@@@}[[[[[[[[@v{{{{{{{{{@rjjjjjjjjjjjjjjc@  @jjjjjjjjjjjjjjj@{{{{{{{{{{@@xxr[[[[[o@@@B@                                                                    
                                                 @@@@@@@@@@@@){{{{{{@jjjjjjjjjjjjjjjY@  @jjjjjjjjjjjjjjjB){{{{{{k@m@ @@@@@@@@                                                                          
                                                        @pJJJJJM@@@@@jjjjjjjjjjjjjjjQ@  @jjjjjjjjjjjjjjjc@@@@@pJJJJJ@@                                                                                 
                                                @@@@@mrjjjjjjjJJJJJJ@jjjjjjjjjjjjjjjb@  @jjjjjjjjjjjjjjjj@JJJJJJJJnjjjjvo@@@@                                                                          
                                              @jjjjjjjjjjjjjjjjJJJ@$jjjjjjjjjjjjjjjj*@  @jjjjjjjjjjjjjjjjj@0JJjjjjjjjjjjjjjjjjQ@                                                                       
                                             @jjWOjjj@jjjjjjjjYJ@ojjjjjjjjjjjjjjjjjj@   @jjjjjjjjjjjjjjjjjjj@Ojjjjjjjjjr@jjj@jjB@                                                                      
                                             @jj@jjj@jjjjjjjjjJ@jjjjjjjjjjjjjjjjjjjj@    @jjjjjjjjjjjjjjjjjjj$CjjjjjjjjjMzjjz*j@                                                                       
                                              @j@jjj@jjjvJJJJJ@@jjdwjjjjj@njjjjjjjj@     @@jjjjjjjj@rjjjjj@jjj@WJJJJrjjjj@jjrBr@                                                                       
                                               @@Wjr@JJJJJJ@@  @jj@jjjjjn@jjjjjjj*@        @jjjjjjjj@jjjjjhJjj@ @@pJJJJJpMJJ@@@                                                                        
                                                    @@@@@@     @rj@jjjjj@jjjjjJC@           @@jjjjjj@jjjjjYBJO@    @@@@@@                                                                              
                                                                @J@JJJJJB0JJJ*@               @@JJJJ@JJJJJ*wm@                                                                                         
                                                                   @@@@@@@@@                     @@@@@@@@@@                                                                                            
*/
